<%= form_with(model: doctrine, local: true) do |form| %>
  <% if doctrine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(doctrine.errors.count, "error") %> prohibited this doctrine from being saved:</h2>

      <ul>
      <% doctrine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.label :name %>
  <%= form.text_field :name %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
