<p id="notice"><%= notice %></p>

<h1><%= @doctrine.name %></h1>

<ul>
  <% @doctrine.fittings.each do |fitting| %>
    <li><%= link_to fitting.name, fitting %></li>
  <% end %>
</ul>

<div class="links">
  <%= link_to 'Edit', edit_doctrine_path(@doctrine) %> |
  <%= link_to 'Destroy', @doctrine, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <%= link_to 'Back to Doctrines', doctrines_path %>
</div>
